body {
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
}

header h1 {
    color: #3a4d39;
    background-color:blanchedalmond;
}

h2 {
    text-align: center;
    color: #3a4d39;
    background-color:blanchedalmond;
}

header h4 {
    margin-top: 32px;
    color: #3a4d39;
}

header p {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: smaller;
    color: #3a4d39;
}

#squareside {
    outline: none;
    border-radius: 8px;
    border: solid #ef0b0b;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100px;
    
}

#squareside:focus{
    border:solid #3a4d39;
}

.inputsection {
    display: flex;
    flex-direction: column;
    align-items: center;
}


button{
    background-color: rgb(89, 161, 91);
    color: #ffffff;
    border:none;
    border-radius: 8px;
    padding:10px 20px;
    cursor: pointer;
}

button:hover{
    background-color: #310bef;
}

button:active{
    background-color: #0bef29;
    transform: translatey(5px);

}

#resetbutton:hover{
    background-color: #ff0404;

}

#squareside {
    outline: none;
    border-radius: 8px;
    border: solid #ef0b0b;
    padding: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1 0 100%;
  }